IncrementalLoad_PL_Stats/pipeline/PL_Stats.json
{
	"name": "PL_Stats",
	"properties": {
		"activities": [
			{
				"name": "WmT_Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PL_StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_WmT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FS_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select MAX(LastModifytime) as LatestDate from File_Source",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlSource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WmT_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FS_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from File_Source\nwhere LastModifytime > '@{activity('WmT_Lookup').output.firstRow.WatermarkValue}'\nand\nLastModifytime <= '@{activity('FS_Lookup').output.firstRow.LatestDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SqlSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Adlsgen2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "PL_StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PL_Start",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CD_EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CD_End",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PL_EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_UpdateWmT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PL_End",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_UpdateWmT",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Update_WatermarkTable]",
					"storedProcedureParameters": {
						"LastModifyTime": {
							"value": {
								"value": "@activity('FS_Lookup').output.firstRow.LatestDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('WmT_Lookup').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Stats",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PL_EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFPL_Executions]",
					"storedProcedureParameters": {
						"ADF_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"CD_EndTime": {
							"value": {
								"value": "@variables('CD_End')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PL_EndTime": {
							"value": {
								"value": "@variables('PL_End')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PL_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PL_RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PL_StartTime": {
							"value": {
								"value": "@variables('PL_Start')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"PL_Start": {
				"type": "String"
			},
			"CD_End": {
				"type": "String"
			},
			"PL_End": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-29T10:00:23Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}